<div class="bg-stickyNoteBlue  border-black border-2  rounded-md p-4">
    <h1 class="pageMainHeader">Update {{noteBlock.title}}</h1>
    <form [formGroup]="updateNoteForm">
        <div class="flex flex-col gap-2">
            <label for="title">Titel</label>
            <input formControlName="title" type="text" class="formInput" name="title" placeholder="titel" id="text">
            <div *ngIf="titleControl?.invalid && (titleControl?.dirty || titleControl?.touched)">

                <div *ngIf="titleControl?.errors?.['required']" class="formError">
                    Title is verplicht.
                </div>
                <div *ngIf="titleControl?.errors?.['maxlength']" class="formError">
                    Titel mag niet langer dan 50 karakters zijn.
                </div>
            </div>
            <label for="text">Omschrijving</label>
            <input formControlName="description" class="formInput" type="text" name="Omschrijving" placeholder="tekst"
                id="text" rows="5" cols="33">


            <div *ngIf="descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)">

                <div *ngIf="descriptionControl?.errors?.['required']" class="formError">
                    Omschrijving is verplicht.
                </div>
                <div *ngIf="descriptionControl?.errors?.['maxlength']" class="formError">
                    Omschrijving mag niet langer dan 50 karakters zijn.
                </div>
            </div>



            <button type="button" (click)="addNotes()" value="fdfd" class="actionButton">Aanpassen</button>
        </div>


    </form>
</div>