<div class="  border-black border-2   p-4 bg-stickyNoteBlue rounded-md">
    <h1 class="pageMainHeader">{{noteBlock.title}}</h1>
    <p>{{noteBlock.description}}</p>
    <p>Gemaakt/geupdate: {{formatDate(noteBlock.dateCreated)}}</p>

    <div *ngIf="noteBlock.notes.length > 0">
        <h3>notes:</h3>
        <div class="ml-4">
            <ul>
                <li><a *ngFor="let i of noteBlock.notes " [routerLink]="['/notes',i._id]">
                        <div class="border-2 border-black my-2 rounded-md p-4 max-w-xs">
                            {{i.title}}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <ul class="flex gap-4">
        <li><a role="button" class="sitelink sitelink-danger " (click)="deleteNoteBlock(id)">Verwijderen </a></li>
        <li><a role="button" class="sitelink sitelink-success " [routerLink]="['/sharewith',noteBlock._id]">delen </a>
        </li>
        <li><a [routerLink]="['/updatenoteblock',id]" class="sitelink sitelink-info">Aanpassen </a></li>
        <li><a [routerLink]="['/addnotestonoteblock',id]" class="sitelink sitelink-info">Notities toevoegen </a></li>
    </ul>
</div>