<div class="bg-stickyNoteBlue border-black border-2  rounded-md p-4">
    <h1 class="pageMainHeader">Add Notes to: {{noteBlock.title}}</h1>

    <form action="">
        <div class="border-2 border-black rounded-md p-4 w-64 mb-5 mt-5">
            <h3>NotitieBlokken</h3>
            <div *ngFor="let note of notes; let i = index" class="flex gap-4">
                <p>{{note.title}}</p>
                <input *ngIf="note.added; else unchecked" type="checkbox" id="horns" checked value="{{note._id}}"
                    (change)="checkboxvalue($event, i)" name="horns">
                <ng-template #unchecked>
                    <input type="checkbox" id="horns" value="{{note._id}}" (change)="checkboxvalue($event, i)"
                        name="horns">
                </ng-template>
            </div>
        </div>

        <input type="submit" (click)="addNotes($event)" preventDefault value="Aanpassen" class="actionButton mt-4">
    </form>
</div>