@tailwind base;
@tailwind components;
@tailwind utilities;

.pageMainHeader {
  @apply text-3xl;
}

.actionButton {
  @apply block p-2 rounded-sm border-black border-2;
}

.actionButton:hover {
  @apply bg-white transition-all cursor-pointer;
}

.sitelink {
  @apply text-base;
}

.sitelink-info {
  @apply text-base text-blue-700;
}

.sitelink-danger {
  @apply text-red-700;
}

.sitelink-success {
  @apply text-green-700;
}

.sitelink:hover {
  @apply underline transition-all;
}

.formInput {
  @apply p-1 rounded-sm border-2 border-black;
}

.formError {
  @apply border-2 border-black p-1 bg-red-300 text-red-600 text-center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
