<div class="bg-stickyNoteBlue  border-black border-2  rounded-md p-4">
    <h1 class="pageMainHeader">{{todo.title}}</h1>
    <p>{{todo.description}}</p>
    <p>Gemaakt/geupdate:{{formatDate(todo.dateCreated)}}</p>
    <p>Deadline: {{formatDate(todo.dueDate)}} </p>
    <p>Voltooid: {{todo.completed ? "✔️" : "❌"}}</p>

    <div *ngIf="todo.tasks.length > 0">
        <div *ngIf="todo.tasks.length > 0">
            <h3>Tasks:</h3>
            <ul>
                <li *ngFor="let i of todo.tasks ">{{i.title}}: {{i.completed ? "✔️" : "❌"}} </li>
            </ul>
        </div>
    </div>


    <ul class="flex gap-4">
        <li><a role="button" class="sitelink sitelink-danger" (click)="deleteTodo(id)">Verwijderen </a></li>
        <li><a [routerLink]="['/updatetodo', id]" class="sitelink sitelink-info">Aanpassen </a></li>
    </ul>
</div>