<div class="bg-white  border-black border-2  rounded-sm p-4">
    <h1 class="pageMainHeader">{{todo.title}}</h1>
    <p>{{todo.description}}</p>
    <p>{{formatDate(todo.dateCreated)}}</p>

    <div *ngIf="todo.tasks.length > 0">
        <div *ngIf="todo.tasks.length > 0">
            <h3>Tasks:</h3>
            <ul>
                <li *ngFor="let i of todo.tasks ">{{i.title}}: {{i.completed ? "✔️" : "❌"}} </li>
            </ul>
        </div>
    </div>


    <ul>
        <li><a role="button" class="sitelink sitelink-danger" (click)="deleteTodo(id)">Verwijderen </a></li>
        <li><a href="updatetodo/{{id}} " class="sitelink sitelink-info">Aanpassen </a></li>
    </ul>
</div>