<div class="bg-stickyNoteLila  border-black border-2  rounded-sm p-4">
    <h1 class="pageMainHeader">Login</h1>
    <form [formGroup]="updateNoteForm">
        <div class="flex flex-col gap-2">
            <label for="title">Titel</label>
            <input formControlName="title" type="text" name="title" placeholder="titel" id="text">
            <label for="text">Tekst</label>
            <input formControlName="text" type="text" name="text" placeholder="tekst" id="text">
            <button type="button" (click)="exec()" value="fdfd" class="actionButton">Toevoegen</button>
        </div>
    </form>
</div>
